.product-details-container{
    margin-top:  30px;
    padding-left: 30px;
    padding-right: 30px;
}

.product-details{
    padding: 30px 40px 70px 40px;
}

.products-details-goback{
 display: flex;
 align-items: center;
 margin-bottom: 20px;

}

.icon-goback{
 color: #407BFF;
 transform: rotate(-180deg);
 margin-right: 20px;

}
.text-goback{ font-size: 20px;
line-height: 33px;
letter-spacing: -0.015em;
color: #263238;
text-transform: uppercase;
}

.product-details-card{
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    padding: 28px 19px;

}
.product-details-image{
    width: 353px;
    right: 353px;
}

.product-description-title{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin-bottom: 25px;
}

.product-description-text{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}

.product-details-name{
    font-size: 26px;
    line-height: 40px;
    letter-spacing: -0.015em;
    margin-top: 30px;
}
.product-details .product-price{
    font-size: 38px;
}
