
.product-price-container {
    margin-top: 10px;
    display: flex;
}

.product-price {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: #407BFF;
    margin-left: 7px;
}

.product-currency {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}