.product-card {
    
    padding: 8px 10px 10px 10px;
    text-align: center;
}

.product-info {
    border-top: 1px solid #E1E1E1;
    text-align: left;
    padding-top: 10px;
    margin-top: 5px;
} 

.product-name {
    font-size: 17px;
    line-height: 15px;
    letter-spacing: -0.030em;
    color: #263238;
}
.product-card-image{
    width: 100%;
}